# /.gitignore
# Copyright (C) 2025 H.-C. Knolle
# Licensed under the MIT License
# .gitignore for the project

# Ignore all created .json files
/src/package/json/data/*.json

# Don't ignore template.json
!/src/package/json/data/template.json

# Ignore Python Cache .pyc files
*.pyc

# Ignore the virtual environment
/.venv

# Ignore the .vscode folder
/.vscode

# Ignore the test folder
/test_json

# Ignore any export files
/export

# Ignore private test file
/priv_test_file.py

# Ignore the cleanup script
/scripts/cleanup.py